body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

h2 {
    color: #555555;
    margin-bottom: 20px;
}

.translation-result {
    color: #ff5733; /* Ciepły kolor pomarańczowy */
    margin-bottom: 20px;
}

.wordToTranslate {
    color: #333333;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: center;
}

.table th {
    background-color: #f0f0f0;
    color: #555555;
}

.styleSectionName {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

.styleSectionName:hover {
    text-decoration: underline;
}

.form-input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.form-button:hover {
    background-color: #0056b3;
}

.create-section-form {
    margin-top: 20px;
}

.back-link {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

.back-link:hover {
    text-decoration: underline;
}