<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_login_page.css">
    <title>Title</title>
</head>
<body>
<div class="form">
    <form action="/loginPage" method="post">
        <h2>Logowanie</h2>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="username" placeholder="Twój login" required>
        </div>
        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" name="password" placeholder="Twoje hasło">
        </div>
        <div class="input-box">
            <input type="submit" name="sign-in" value="Zaloguj się">
        </div>
        <a href="/registration">Rejestracja</a>
    </form>
</div>
</body>
</html>