<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_login_successful.css">
    <title>Login Successful</title>
</head>
<body>
<div class="container">
    <h1>Login Successful!</h1>
    <h3><a href="/en" class="home-link">Go to PL<->EN Translator</a></h3>
    <h3><a href="/de" class="home-link">Go to PL<->DE Translator</a></h3>
    <h3><a href="/sections/all" class="home-link">Go to your sections</a></h3>
</div>
<footer>
    <div th:insert="~{part/footer :: footer}"></div>
</footer>
</body>
</html>
