<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_login_page.css">
    <title>Login</title>
</head>
<body>
<br><br><br><br><br><br><br><br><br><br><br>
<form th:action="@{/loginPage}" method="post" >
    <h1> <label>Twój login: <input type="text" name="username"></label></h1><br>
    <h1><label>Twoje hasło: <input type="password" name="password"></label></h1>
    <br>
    <h1><input type="submit" value="Zaloguj się"></h1>
    <br>

    <a href="/registration">Rejestracja</a>
</form>


</body>
</html>