<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style_section_view.css">
    <title>Sections</title>
</head>
<body>
<div class="container">
    <h2 th:text="${lastTranslation}" class="translation-result"></h2>
    <h2 th:text="${wordToTranslate}" class="wordToTranslate"></h2>

    <h1>Your Sections</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Section Name</th>
            <th>Add Word/Phrase</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="section : ${sections}">
            <td><a class="styleSectionName" th:href="@{'/sections/singleSection?sectionName=' + ${section.getName()}}" th:text="${section.getName()}"></a></td>
            <td>
                <form th:action="@{/sections/addWord}" method="post" th:object="${addWordForm}">
                    <input type="hidden" th:name="sectionName" th:value="${section.getName()}">
                    <label for="word"></label><input type="text" id="word" name="word" required placeholder="Word/Phrase" class="form-input">
                    <button type="submit" class="form-button">Add to Section</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/sections/createSection}" method="post" class="create-section-form">
        <label for="sectionName">Create New Section:</label>
        <input type="text" id="sectionName" name="sectionName" required placeholder="New Section Name" class="form-input">
        <button type="submit" class="form-button">Create Section</button>
    </form>

    <p><a href="/mainPage" class="back-link">Back to Translator</a></p>
</div>
</body>
</html>