<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style_section_view.css">
    <title>Sections</title>
</head>
<body>
<br><br><br>
<h2 th:text="${lastTranslation}"  class="translation-result"></h2>
<h2 th:text="${wordToTranslate}" class="wordToTranslate"></h2>
<br><br><br>
<h1>Twoje sekcje</h1>
<br>

<table class="table">
    <thead>
    </thead>
    <tbody>
    <tr th:each="section : ${sections}">
        <td><a th:href="@{'/sections/singleSection?sectionName=' + ${section.getName()}}" th:text="${section.getName()}"></a></td>
        <td style="white-space: nowrap">
            <form th:action="@{/sections/addWord}" method="post" th:object="${addWordForm}">
                <input type="hidden" th:name="sectionName" th:value="${section.getName()}">
                <label for="word">Słowo:</label>
                <input type="text" id="word" name="word" required>
            <button type="submit">Dodaj powyższą frazę do tej sekcji.</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<form th:action="@{/sections/createSection}" method="post">
    <label for="sectionName">Nazwa Sekcji:</label>
    <input type="text" id="sectionName" name="sectionName" required>
    <button type="submit">Dodaj Sekcję</button>

</form>

<p><a href="/">Back to translator</a></p>
</body>
</html>