<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_single_section_view.css">
    <title th:text="${sectionName}"></title>
</head>
<body>
<h1 th:text="'Sekcja: ' + ${sectionName}"></h1>
<h2>Twoje zapisane słówka/zdania:</h2>
<ul>
    <li th:each="word : ${wordsInSection}" th:text="${word}"></li>
</ul>
<p class="backToTranslator"> <a href="/">Powrót do translatora.</a></p>
<p class="backToSections"> <a href="/sections/all">Powrót do Twoich sekcji.</a></p>
<br>
<form class="logout" method="post" action="/logoutPage">
    <input type="submit" value="Wyloguj się">
</form>
</body>
</html>