<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your the best translator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Welcome!</h1>
<h2>What text do you want to translate?</h2>
<br><br><br><br>
<p class="from-english-to-polish">EN--->PL</p>
<form method="get" action="/books">
    <input name="login" type="text" placeholder="Type text">
    <input type="submit" value="Show translation">
</form>
<br>
<p class="from-polish-to-english">PL--->EN</p>
<form method="get" action="/books">
    <input name="login" type="text" placeholder="Wpisz tekst">
    <input type="submit" value="Pokaż tłumaczenie">
</form>
</body>
</html>