<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your the best translator</title>
    <link rel="stylesheet" type="text/css" href="/css/style_translator_view.css">
</head>
<body>
<div sec:authentication="principal.username">
    test
</div>
<h1>Welcome!</h1>
<h2>What text do you want to translate?</h2>
<br>
<p class="from-polish-to-english">PL--->EN</p>
<form method="post" action="/translateEn">
    <label>
        <input name="text[0]" type="text" placeholder="Wpisz tekst">
    </label>
    <input type="submit" value="Pokaż tłumaczenie">
</form>

<p class="from-english-to-polish">EN--->PL</p>
<form method="post" action="/translatePl">
    <label>
        <input name="text[0]" type="text" placeholder="Type text">
    </label>
    <input type="submit" value="Show translation">
</form>

<br>

<form method="post" action="/logoutPage">
    <input type="submit" value="Wyloguj się">
</form>

</body>
</html>

